extd:
  port: 9111
  emqx:
    host: emqx
    port: 18083
    rmax: 5
    tout: 5s
  psql:
    host: psql
    port: 5432
  gate:
    server:
      port: 9110
    name: exproto
    tout: 30s
    enable: false
    listener:
      name: default
      type: tcp
      port: 20041
  hook:
    name: extd
    tout: 30s
    trec: 60s
    enable: false
    action: deny
    psql:
      name: postgres
    buf:
      qcap: 5
